run = "uv pip install -q -r requirements.txt && uv run uvicorn main:app --host 0.0.0.0 --port 8080 --log-level debug"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[[ports]]
localPort = 8080
externalPort = 8080

